.advantages {
  background-color: #f2f2f2;

  @include marpad;
}

.advantages__wrapper {
  height: 277px;
  overflow: hidden;
}

@media (min-width: $layout-width-tablet) {
  .advantages {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }
}
