.after-photos {
  width: $layout-width-mobile;
  display: flex;
  flex-direction: column;
  padding: 42px 20px;
}

.after-photos__paragraph {
  color: $color-main;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

@media (min-width: $layout-width-tablet) {
  .after-photos {
    width: $layout-width-tablet;
    padding-top: 64px;
    padding-bottom: 70px;
  }

  .after-photos__paragraph {
    font-size: 18px;
    margin: 0 auto;
  }
}

@media (min-width: $layout-width-desktop) {
  .after-photos {
    padding-top: 7px;
    padding-bottom: 66px;
  }
}
