.contacts {
  background-color: #ffffff;
  min-height: 412px;
  display: flex;
  flex-direction: column;
}

.contacts__paragraph {
  margin: 0;
  color: #283645;
  text-align: center;
  font-size: 24px;
}

.contacts__paragraph-wrapper {
  margin-top: 50px;
}

@media (min-width: $layout-width-tablet) {
  .contacts__paragraph {
    font-size: 40px;
  }
}

@media (min-width: $layout-width-desktop) {
  .contacts {
    margin-bottom: -2px;
  }

  .contacts__paragraph {
    font-size: 50px;
  }

  .contact-list__item--call {
    order: 1;
  }

  .contact-list__item--go {
    order: 2;
  }

  .contact-list__item--write {
    order: 3;
  }
}
