.contact-list {
  margin: 0;
  margin-top: 44px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact-list__item-name {
  color: #283645;
  font-size: 18px;
  font-weight: bold;
}

.contact-list__item-info {
  color: #d22856;
  font-size: 24px;
  font-weight: light;
  text-align: center;
}

.contact-list__item-info-br {
  display: none;
}

@media (min-width: $layout-width-tablet) {
  .contact-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 57px;
  }

  .contact-list__item {
    width: 330px;
    flex-shrink: 0;
    margin: 0 auto;
  }
}

@media (min-width: $layout-width-desktop) {
  .contact-list__item-info-br {
    display: block;
  }
}
