.contact-list {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact-list__item {
  margin-bottom: 18px;
}

.contact-list__item--write {
  margin-bottom: 20px;
}

.contact-list__item-name {
  color: #283645;
  font-size: 18px;
  font-weight: bold;
}

.contact-list__item-info {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.contact-list__item-info-br {
  display: none;
}

.contact-list__link {
  color: #d22856;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

@media (min-width: $layout-width-tablet) {
  .contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
    align-items: start;
  }

  .contact-list__item {
    width: 240px;
    flex-shrink: 0;
    margin: 0;
  }

  .contact-list__item--call {
    margin-left: 30px;
  }

  .contact-list__item--write {
    margin-right: 30px;
  }

  .contact-list__item--go {
    margin: 0 auto;
    margin-top: 45px;
  }

  .contact-list__item-info {
    margin-top: 3px;
    line-height: 32px;
  }
}

@media (min-width: $layout-width-desktop) {
  .contact-list {
    margin-top: 50px;
    padding: 0;
    flex-wrap: nowrap;
  }

  .contact-list__item-info {
    margin-top: 23px;
  }

  .contact-list__item-info-br {
    display: block;
  }

  .contact-list__item--call,
  .contact-list__item--write,
  .contact-list__item--go {
    margin: 0;
  }

  .contact-list__item--call {
    margin-left: 41px;
  }

  .contact-list__item--write {
    margin-right: 40px;
  }
}
