.contacts {
  background-color: #ffffff;
  min-height: 412px;
  margin: 0 20px;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

.contacts__paragraph {
  margin: 0;
  color: #283645;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.contacts__paragraph-wrapper {
  margin-top: 50px;
}

@media (min-width: $layout-width-tablet) {
  .contacts {
    padding-top: 55px;
  }

  .contacts__paragraph {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (min-width: $layout-width-desktop) {
  .contacts {
    margin-bottom: -2px;
    padding-top: 70px;
  }

  .contacts__paragraph {
    margin: 0;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
  }

  .contact-list__item--call {
    order: 1;
  }

  .contact-list__item--go {
    order: 2;
  }

  .contact-list__item--write {
    order: 3;
  }
}
