.form-main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.form-main__paragraph {
  color: #283645;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-align: center;
  width: 280px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 15px;
}

.form-main__please {
  display: none;
}

.form-main__paragraph br {
  display: none;
}

@media (min-width: $layout-width-tablet) {
  .form-main {
    padding-top: 92px;
  }

  .form-main__paragraph {
    display: inline-block;
    font-size: 18px;
    width: 490px;
    margin: 0;
    padding: 0 auto;
    padding-top: 92px;
  }

  .form-main__please {
    display: inline;

    @include marpad;
    width: 325px;
    font-size: 18px;
    padding-top: 4px;
    margin: 0 auto;
  }
}

@media (min-width: $layout-width-desktop) {
  .form-main {
    margin: 0 auto;
    padding-top: 92px;
  }

  .form-main__wrapper {
    width: 760px;
    display: block;
  }

  .form-main__paragraph {
    width: auto;
    display: inline-block;
  }

  .form-main__paragraph br {
    display: block;
  }

  .form-main__please {
    display: inline;
  }
}
