.form {
  @include marpad;
}

@media (min-width: $layout-width-tablet) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__username {
    order: 1;
  }

  .form__user-app {
    order: 2;
  }

  .form__user-contacts {
    order: 3;
  }

  .form__user-achievements {
    order: 4;
  }

  .form__user-emotions {
    order: 5;
  }
}

@media (min-width: $layout-width-desktop) {

}
