.form {
  @include marpad;
}

@media (min-width: $layout-width-tablet) {
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form__username {
    order: 1;
  }

  .form__user-app {
    order: 2;
  }

  .form__user-contacts {
    order: 3;
  }

  .form__user-achievements {
    order: 4;
  }

  .form__user-emotions {
    order: 5;
  }

  .form__button-wrap {
    order: 6;
  }
}

@media (min-width: $layout-width-desktop) {
  .form {
    flex-direction: row;
  }

  .form__user-contacts,
  .form__user-achievements,
  .form__user-emotions {
    width: 100%
  }

  .form__username,
  .form__user-app {
    width: 431px;

    @include marpad;
  }
}
