.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__username {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-right: 22px;
}

.form__name {
  color: #d22856;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-transform: uppercase;
  width: 276px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__input-check {
  margin: 0;
}

.form__label {
  margin-left: 21px;
  margin-top: 20px;
  color: $color-main;
  font-weight: $font-regular;
  line-height: 30px;
  font-family: $font-family;
  font-size: 18px;
  cursor: pointer;
}

.form__legend {
  background-color: #f2f2f2;
  margin: 0;
  padding: 39px 40px 38px 40px;
  text-align: center;
  color: #d22856;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input {
  color: $color-main;
  font-family: $font-family;
  font-size: 18px;
  font-weight: $font-regular;
  line-height: 30px;
  height: 54px;
  margin-top: 5px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;

  &:focus {
    outline: 2px solid #d22856;
  }

  &:hover {
    outline: 2px solid #283645;
  }

  &:active {
    outline: 2px solid #d22856;
  }
}

::-webkit-input-placeholder {
  color: $color-main;
}

::-moz-placeholder {
  color: $color-main;
}

:-moz-placeholder {
  color: $color-main;
}

:-ms-input-placeholder {
  color: $color-main;
}

.form__user-achievements {
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  margin-top: 43px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__user-achievement-legend,
.form__user-contacts,
.form__user-app,
.form__user-emotions, {
  color: #d22856;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 18px;
  text-transform: uppercase;
}

.form__required-paragraph {
  color: #283645;
  margin-top: 32px;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.form__sup {
  color: #d22856;
}

.form__user-contacts {
  border: none;
  margin: 0;
  padding: 0;
}

.form__contacts-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.form__number,
.form__mail {
  margin: 0;
  padding: 0;
  width: 276px;
  display: flex;
  flex-direction: column;
}

.form__legend--contact {
  display: none;
}

.form__legend--emotions {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  background-color: #ffffff;
}

.form__user-app {
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 44px;
  padding: 0;
  padding-bottom: 5px;
  border: none;
}

.form__user-emotions {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.form__user-emotions-area {
  width: 276px;
  height: 197px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  color: $color-main;
  font-family: $font-family;
  font-size: 18px;
  font-weight: $font-regular;
  line-height: 30px;
  padding-top: 11px;
  padding-left: 17px;

  &:focus {
    outline: 2px solid #d22856;
  }

  &:hover {
    outline: 2px solid #283645;
  }

  &:active {
    outline: 2px solid #d22856;
  }
}

.form__label--red {
  color: #d22856;
  font-size: 14px;
}

.form__label--radio {
  text-transform: none;
}

.form__button-wrap {
  margin-top: 50px;
}

.form__submit {
  color: #ffffff;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2aab6d;
}

.button {
  width: 278px;
  padding: 15px 20px;
  border: 2px solid #2aab6d;
  border-radius: 2px;
  background-color: #2aab6d;
  cursor: pointer;

  &:focus,
  &:hover {
    border: 2px solid #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__achievements-list,
.form__applications-list {
  list-style: none;

  @include marpad;
}

.form__input-check,
.form__input-radio {
  display: none;
}

.form__input-check + .form__label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  margin-right: 25px;
}

.form__input-check:checked + .form__label::before {
  background-image: url("../img/icon-yes-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input-radio + .form__label--radio::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 30px;
}

.form__input-radio:checked + .form__label--radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input-check:focus + .form__label:focus::before,
.form__input-check:hover + .form__label:hover::before,
.form__input-radio:focus + .form__label--radio:focus::before,
.form__input-radio:hover + .form__label--radio:hover::before {
  border-color: #283645;
}

.form__input-check:active + .form__label:active::before,
.form__input-radio:active + .form__label--radio:active::before {
  border-color: #d22856;
}

.achievement-list__item {
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 35px;
}

.form__achievements-list .form__label {
  display: inline-block;
  margin: 0;
}

.form__span {
  display: inline-block;

  @include marpad;
  vertical-align: top;
  margin-top: 5px;
  padding-right: 6px;
}

.form__span--radio {
  padding-right: 0;
  margin-left: -5px;
}

.form__applications-list {
  margin-top: -3px;
}

.application-list__item {
  margin-bottom: 28px;
}

.form__required-paragraph span {
  display: none;
}

@media (min-width: $layout-width-tablet) {
  .form {
    padding-top: 73px;
  }

  .form__name {
    display: flex;
    width: $layout-width-tablet;
    margin: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 55px;
  }

  .form__user-achievements,
  .form__user-contacts,
  .form__user-app,
  .form__user-emotions {
    margin: 0;
    padding: 0;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    width: 616px;
  }

  .form__username {
    order: 1;
    margin: 0;
    padding: 0;
  }

  .form__user-achievements {
    order: 4;
    margin-top: 49px;
    padding-bottom: 5px;
  }

  .form__user-contacts {
    order: 3;
    margin-top: 55px;
    padding-bottom: 28px;
  }

  .form__user-app {
    order: 2;
    margin-top: 0;
    padding-top: 28px;
    padding-bottom: 19px;
  }

  .form__user-emotions {
    margin-top: 58px;
    padding: 0;
    order: 5;
  }

  .form__button-wrap {
    order: 6;
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 66px;
    margin-bottom: 52px;
  }

  .form__submit {
    width: 300px;
  }

  .form__user-emotions-area {
    box-sizing: border-box;
    padding: 0;
    padding-top: 14px;
    padding-right: 10px;
    padding-bottom: 0;
    margin: 0 auto;
    margin-bottom: 55px;
    width: 496px;
    height: 189px;
    border: 2px solid #e5e5e5;
    color: $color-main;
    font-family: $font-family;
    font-size: 18px;
    font-weight: $font-regular;
    line-height: 30px;
    text-align: center;
  }

  .form__legend {
    background-color: #ffffff;
    text-align: center;
    padding: 0;
    margin: 13px auto;
  }

  .form__legend--contact {
    display: block;
  }

  .form__user-app .form__legend {
    margin-top: 10px;
    padding: 5px 25px;
  }

  .form__input-radio + .form__label--radio::before {
    margin-right: 18px;
  }

  .form__applications-list {
    padding-left: 40px;
  }

  .form__user-contacts legend {
    margin-bottom: 0;
  }

  .form__contacts-wrapper {
    padding: 0;
  }

  .form__contacts-wrapper .form__label {
    margin-top: 10px;
    margin-left: 39px;
  }

  .form__label {
    margin: 0;
    margin-left: 20px;
  }

  .form__label--radio {
    text-transform: none;
  }

  .form__input {
    flex-grow: 1;
    margin: 0;
    margin-left: 18px;
    margin-right: 22px;
    padding-left: 22px;
    color: #283645;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .form__number,
  .form__mail {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 616px;
    padding: 0 38px;
  }

  .form__mail {
    margin-top: -9px;
  }

  .form__number .form__input,
  .form__mail .form__input {
    padding-right: 70px;
  }

  .form__number::after {
    position: absolute;
    right: 60px;
    top: 40px;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    background-image: url("../img/icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .form__mail::after {
    position: absolute;
    right: 60px;
    top: 40px;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    background-image: url("../img/icon-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .form__number label,
  .form__mail label {
    margin-top: 21px;
    margin-left: 38px;
  }

  .form__number input,
  .form__mail input {
    margin-top: 40px;
  }

  .form__required-paragraph {
    margin: 0;
  }

  .form__input-check + .form__label::before {
    margin-right: 15px;
  }

  .form__user-achievements .form__legend {
    padding: 0 32px;
    padding-top: 9px;
  }

  .form__achievements-list .form__span {
    margin-top: 3px;
  }

  .form__legend--emotions {
    padding: 0 38px;
    margin-bottom: 36px;
  }
}

@media (min-width: $layout-width-desktop) {
  .form {
    width: $layout-width-desktop;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0 10px;
    padding-top: 87px;
  }

  .form__legend--contact {
    display: block;
    margin-top: 0;
    padding: 0 32px;
  }

  .form__username {
    order: 2;
  }

  .form__name {
    width: 435px;
  }

  .form__name .form__label {
    margin: 0;
  }

  .form__name .form__input {
    margin-right: 0;
  }

  .form__user-achievements {
    order: 4;
    width: 936px;
    margin-top: 48px;
  }

  .form__user-contacts {
    order: 3;
    width: 936px;
    margin-top: 5px;
    padding-bottom: 15px;
  }

  .form__mail {
    margin-top: 0;
  }

  .form__number::after,
  .form__mail::after {
    right: 0;
    top: 35px;
  }

  .form__number .form__input,
  .form__mail .form__input {
    width: 371px;
    height: 59px;
    box-sizing: border-box;
    padding: 0;
    margin-top: 35px;
    padding-right: 70px;
    padding-left: 16px;
  }

  .form__number .form__label,
  .form__mail .form__label {
    margin-top: 11px;
    margin-left: 17px;
    margin-bottom: 0;
  }

  .form__user-app {
    order: 2;
    width: 431px;
    margin-top: -70px;
  }

  .form__applications-list {
    padding-left: 56px;
    margin-top: 0;
  }

  .application-list__item:nth-of-type(2) .form__span--radio {
    margin-top: 2px;
  }

  .application-list__item:last-child .form__span--radio {
    margin-top: 0;
  }

  .form__user-emotions {
    order: 5;
    width: 936px;
    padding: 0 60px;
  }

  .form__button-wrap {
    order: 6;
    width: 936px;
  }

  .form__contacts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }

  .form__number,
  .form__mail {
    padding: 0;
    width: 371px;
  }

  .form__number input,
  .form__mail input {
    width: 371px;
    margin: 0;
    margin-top: 44px;
  }

  .form__number label,
  .form__mail label {
    width: 300px;
    margin-top: 21px;
    margin-bottom: 20px;
  }

  .form__user-emotions-area {
    width: 816px;
    height: 124px;
    text-align: left;
    margin-bottom: 45px;
    padding: 0;
    padding-top: 10px;
    padding-left: 15px;
  }

  .form__submit {
    width: 300px;
    height: 59px;
  }

  .form__required-paragraph {
    margin-right: -5px;
  }

  .form__required-paragraph span {
    display: inline;
  }
}
