.map {
  position: relative;

  @include marpad;
  margin-top: -40px;
}

.map::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -3px;
}

.map__iframe {
  height: 230px;
  border: none;
}

@media (min-width: $layout-width-tablet) {
  .map {
    min-height: 429px;
    margin-top: -60px;
  }

  .map::after {
    margin-top: -2px;
    min-height: 150px;
  }

  .map__iframe {
    height: 372px;
  }
}

@media (min-width: $layout-width-desktop) {
  .map {
    min-height: 522px;
    margin-top: -135px;
  }

  .map__iframe {
    width: 100%;
    height: 525px;
  }

  .map::after {
    min-height: 300px;
  }
}
