.offer {
  padding-top: 46px;
}

.offer__paragraph {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #283645;

  @include marpad;
  margin-bottom: 30px;
}

@media (min-width: $layout-width-tablet) {
  .offer {
    padding-top: 59px;
    padding-bottom: 20px;
    margin-bottom: -2px;
  }

  .offer__paragraph {
    font-size: 40px;

    @include marpad;
  }

  .offer__paragraph--second {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: $layout-width-desktop) {
  .offer {
    padding-top: 65px;
    padding-bottom: 80px;
  }

  .offer__paragraph {
    font-size: 50px;
    line-height: 60px;
  }
}
