.page-footer {
  display: block;
}

@media (min-width: $layout-width-tablet) {
  .page-footer {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $layout-width-desktop) {

}
