.page-header {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.page-header__wrapper {
  min-height: 396px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.page-header__paragraph {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
  margin: 0;
  margin-bottom: 110px;
  background-color: #000000;
  opacity: 0.3;
}

