.page-header {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  top: 21px;
  left: 20px;
}

.page-header__describe {
  margin: 0;
  padding-top: 32px;
  text-align: center;
}

.page-header__title {
  display: inline-block;
  margin-bottom: 83px;
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
}

.page-header__title--form {
  margin-bottom: 55px;
}

.page-header__paragraph {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
  margin: 0;
  margin-bottom: 130px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $layout-width-tablet) {
  .page-header__logo {
    position: absolute;
    z-index: 1;
    top: 27px;
    left: 20px;
  }

  .page-header__describe {
    padding-top: 68px;
  }

  .page-header__title {
    width: 480px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 140px;
  }

  .page-header__title--form {
    margin-bottom: 80px;
  }
}

@media (min-width: $layout-width-desktop) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header--photo {
    background-color: rgba(0, 0, 0, 0);
  }

  .page-header__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    z-index: 1;
    top: 26px;
    left: 20px;
  }

  .page-header__describe {
    padding-top: 64px;
  }

  .page-header__title {
    margin-bottom: 100px;
  }

  .page-header__title--form {
    width: 750px;
  }
}
