.reviews {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.reviews__main-wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.reviews__quotes {
  display: none;
}

.reviews__main-review {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  color: #283645;
  padding: 0 20px;
}

.reviews__name {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.reviews__profession {
  display: none;
}

.arrow-button {
  display: none;
}

.reviews__bullets {
  order: -1;
}

@media (min-width: $layout-width-tablet) {
  .reviews {
    margin-bottom: -7px;
    color: #283645;
  }

  .reviews__main-review {
    font-size: 18px;
    line-height: 1.67;
  }

  .reviews__wrapper {
    order: 3;
    padding-top: 75px;
    font-size: 18px;
    line-height: 1.67;
  }

  .reviews__name {
    margin: 0;
    margin-top: 17px;
    order: 2;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }

  .reviews__profession {
    display: inline-block;
    text-align: center;
    order: 1;
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    line-height: 2.14;
  }

  .reviews__bullets {
    margin-top: 35px;
  }
}

@media (min-width: $layout-width-desktop) {
  .reviews {
    padding-bottom: 42px;
  }

  .reviews__main-wrapper {
    width: $layout-width-desktop;
    margin: 0 auto;
  }

  .reviews__quotes {
    display: block;
    margin: 0 auto;
    width: 79px;
    height: 63px;
    order: 4;
    margin-top: 72px;
    margin-bottom: 50px;
  }

  .reviews__profession {
    display: block;
    text-align: center;
    order: 1;
    font-size: 18px;
    margin-top: 0;
  }

  .reviews__bullets {
    display: none;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    order: 3;
    padding: 0;
  }

  .reviews__main-review {
    order: 2;
    width: 690px;
    margin: 0 106px;
    margin-bottom: 44px;
    padding: 0;
  }

  .reviews__name {
    order: 2;
    font-size: 24px;
    margin-top: -10px;
  }

  .arrow-button {
    position: absolute;
    top: 28px;
    display: block;
    width: 22px;
    height: 41px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .arrow-button__right {
    right: 10px;
    order: 3;
  }

  .arrow-button__left {
    left: 10px;
    order: 1;
  }

  .arrow-button__svg {
    fill: #283645;
    fill-opacity: 0.3;

    &:focus,
    &:hover {
      fill-opacity: 0.6;
    }

    &:active {
      fill-opacity: 0.1;
    }
  }
}
