.site-list {
  list-style: none;

  @include marpad;
}

.site-list--second {
  background-color: rgba(0, 0, 0, 0.3);
}

.site-list__item {
  box-shadow: 0 1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
  padding: 15px 20px 16px 20px;
  background-color: #283645;
}

.site-list__item--double {
  display: flex;
  justify-content: space-between;

  @include marpad;
  padding: 22px 24px 15px 20px;
}

.site-list__toggle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  @include marpad;
}

.site-list__toggle-opened {
  width: 24px;
  height: 24px;
  margin-top: auto;
}

.site-list__toggle-closed {
  width: 50px;
  height: 24px;
  margin-top: auto;
}

.site-list__link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;

  @include marpad;
}

.site-list__link:hover {
  color: #d22856;
}

@media (min-width: $layout-width-tablet) {
  .site-list--second {
    margin-bottom: 74px;
  }

  .site-list__item--double {
    padding: 27px 20px 43px 20px;
  }
}

.no-color {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

@media (min-width: $layout-width-desktop) {
  .site-list__toggle-opened,
  .site-list__toggle-closed {
    display: none;
  }
}
