.site-list {
  list-style: none;
  border: 1px solid yellow;
  background-color: #283645;

  @include marpad;
}

.site-list__item {
  box-shadow: 0 1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
  padding: 15px 20px 16px 20px;
}

.site-list__item--double {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px 25px 20px;
}

.site-list__link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;

  @include marpad;
}

.site-list__link:hover {
  color: #d22856;
}
