.slider {
  @include marpad;
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: 62px;
  justify-content: space-between;
  min-height: 12px;
}

.slider__item {
  display: flex;
  margin: auto;
}

.slider__item-bullet {
  display: none;
}

.slider__item-bullet + .slider__item-label {
  display: inline-block;
  width: 6px;
  height: 6px;
  opacity: 0.3;
  background-color: #283645;
  border-radius: 3px;
  cursor: pointer;
}

.slider__item-bullet:focus + .slider__item-label:focus,
.slider__item-bullet:hover + .slider__item-label:hover {
  opacity: 0.6;
}

.slider__item-bullet:active + .slider__item-label:active {
  opacity: 0.1;
}

.slider__item-bullet:checked + .slider__item-label {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 3px #283645;
  background-color: #ffffff;
  opacity: 1;
}

@media (min-width: $layout-width-desktop) {
  .slider {
    display: none;
  }
}
