.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 39px;
  padding: 0;
}

.social-list--form {
  margin-top: 37px;
}

.social-list__item {
  margin: 8px;
  margin-top: 0;
}

.social-list__link {
  display: block;
  width: 40px;
  height: 40px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 25px;
  background-color: transparent;

  &:focus,
  &:hover {
    border: solid 3px rgba(40, 54, 69, 1);
  }

  &:active {
    border: solid 3px rgb(40, 54, 69);
    opacity: 0.1;
  }
}

.social-list__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-list__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-list__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: 55% center;
}

@media (min-width: $layout-width-tablet) {
  .social-list {
    margin: 0;
    margin-top: 5px;
    margin-right: 20px;
  }

  .social-list--form {
    margin-top: 0;
    margin-right: 18px;
  }
}

@media (min-width: $layout-width-desktop) {
  .social-list {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .social-list--photo {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .social-list--form {
    margin-left: 14px;
    margin-bottom: 0;
  }
}
