.table {
  display: block;
  flex-shrink: 0;
  margin-left: -280px;
  border-collapse: separate;
}

.table__cell-paragraph {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  width: 140px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.table__cell {
  box-sizing: border-box;
  padding: 7px;
  background-color: #ffffff;
  width: 276px;
  border-radius: 2px;
}

.table__cell--empty {
  background-color: rgba(0, 0, 0, 0);
  border-color: transparent;
  display: none;
}

.table__cell--head {
  box-sizing: border-box;
  width: 276px;
  position: relative;
  background-color: #283645;
  border: 2px solid #283645;
  border-radius: 2px;
}

.table__item-hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;

  @include marpad;
  margin: -2px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.table__item-span {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 9px;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  transform: rotate(-45deg);
}

.table__item-name,
.table__item-cost {
  @include marpad;
  margin: 0 auto;
}

.table__item-name {
  margin-top: 11px;
  width: 95px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-left: none;
}

.table__item-cost {
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.table__cell--name {
  position: relative;
  left: 0;
  padding-left: 14px;
  padding-right: 23px;
  padding-top: 15px;
  padding-bottom: 13px;
  width: 113px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: left;
  display: none;
}

.table__cell-image {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-left: 60px;
}

@media (min-width: $layout-width-tablet) {
  .table {
    width: 640px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .table__cell-paragraph {
    display: none;
  }

  .table__item-name {
    margin-top: 8px;
    width: 85px;
    font-size: 16px;
    line-height: 18px;
  }

  .table__item-cost {
    margin-top: 11px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 20px;
  }

  .table__cell--name,
  .table__cell--empty {
    display: block;
  }

  .table__cell--name {
    left: 3px;
  }

  .table__cell,
  .table__cell--head {
    width: 153px;
  }

  .table__item-hit {
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .table__item-span {
    top: 11px;
    left: 7px;
  }

  .table__cell-image {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: $layout-width-desktop) {
  .table {
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .table__cell,
  .table__cell--head {
    width: 233px;
  }

  .table__cell--name {
    min-height: 59px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 19px;
    left: 3px;
  }

  .table__item-name {
    width: 100px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
  }

  .table__item-cost {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .table__item-hit {
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
    background-size: cover;
  }

  .table__item-span {
    top: 20px;
    left: 10px;
  }
}
