@import "fonts";
@import "blocks/mixin";
@import "blocks/variables";
@import "blocks/svg";
@import "blocks/slider";
@import "blocks/advantage-list";
@import "blocks/advantages";
@import "blocks/arrow-button";
@import "blocks/british-scientists";
@import "blocks/contacts";
@import "blocks/download-section";
@import "blocks/map";
@import "blocks/offer";
@import "blocks/page-footer-wrapper";
@import "blocks/page-footer";
@import "blocks/page-header";
@import "blocks/page-navigation";
@import "blocks/rewiews";
@import "blocks/site-list";
@import "blocks/social-list";
@import "blocks/table";
@import "blocks/index-main";
@import "blocks/buttons";
@import "blocks/form-main";
@import "blocks/form";
@import "blocks/after-photos";
@import "blocks/editor";
@import "blocks/photo-list";
@import "blocks/photo-main";
@import "blocks/photos";
@import "blocks/tool-list";
@import "blocks/visually-hidden";
@import "blocks/using-plan";
@import "blocks/contact-list";
@import "blocks/store-list";

body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
  outline: 1px solid #283645;
}

@media (min-width: $layout-width-mobile) {
  body {
    width: $layout-width-mobile;
  }
}

@media (min-width: $layout-width-tablet) {
  body {
    width: $layout-width-tablet;
  }
}

@media (min-width: $layout-width-desktop) {
  body {
    width: $layout-width-desktop;
  }
}

.no-color {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.none {
  display: none;
}
